@charset "utf-8";

body {
  background: #f6f7f8;
  padding:40px;
}

.flex {
  background:#fff;
  display: flex;
  max-width: 500px;
  margin:0 auto;
  padding:20px;
  box-shadow: 0 1px 3px #00000033;
  border-radius:4px;
}

.options {
  width:200px;
}

.result {
  flex:1;
}

h3 {
  margin:0 0 12px;
  padding:0;
}

hr {
  margin: 20px 0;
}

